/*
 * CSS File for the solution
 * Tutorial 02
 * Step 03
 * Instructions are in the comments below
 */


/* CSS Colour codes you can use for this exercise */
/*
--red-pantone: #e63946ff
--honeydew: #f1faeeff;
--non-photo-blue: #a8dadcff;
--cerulean: #457b9dff;
--berkeley-blue: #1d3557ff;
*/

/* Styles for the HTML Body element */

body {
  background-color: #1d3557ff;
}


/* Then move onto the header styles */

header {
  color: white;
  margin: 0rem 0 0rem 0; 
  padding: 1rem;
}

header .site-title {
  text-transform: uppercase; 
  font-size: 1.6rem;
  letter-spacing: 0.5rem;
  font-weight: 700;
  margin: 0.7rem 0;
}

header nav {
  margin: 1rem 0;/
}

header nav ul {
  list-style: none;
  margin-left: 0;
  padding: 0;
}

header a {
  color: white;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

/* GENERAL SECTION STYLES */

/* Now let's setup the generic main > section styles */
/* These are styles that are applied just to the section elements
 * that are direct children of the main element
 *
 * <main>
 *   <section>...</section>
 *   <section>...</section>
 *   <section>...</section>
 * </main>
 */

main > section {
  margin: 0rem 0 1rem 0;
  padding: 1rem;
  background-color: #f1faeeff;
  border-radius: 1rem;
}

/* This fancy code removes the bottom margin from the last section */
main > section:last-child {
  margin-bottom: 0rem;
}

/* HERO SECTION STYLES */

/* Now let's setup the Hero section in main styles */
main section.hero {
  padding: 8rem 1rem 1rem 1rem; 
  background-color: #f1faeeff;
  border-radius: 1rem;
}

main section.hero h1 {
  font-weight: 700;
  margin: 0 5rem 0 5rem;
  font-size: 7rem;
  letter-spacing: 0.4rem;
  text-align: center;
}

main section.hero .secondary-heading {
  font-size: 2rem;
  margin: 3rem 13rem 3rem 13rem;
  letter-spacing: 0.3rem;
  text-align: center;
  font-weight: 400;
}

main section.hero img {
  /* You don't need to modify anything here */
  border-radius: 1rem;
  width: 100%;
  max-width: 100%;
  height: 40rem;
  object-fit: cover;
  object-position: center center;
}


/* MENU SECTION STYLES */

/* Next up is the second section, which is our menu styles */

main section.menu {
  padding: 1rem;
  background-color: #f1faeeff;
  border-radius: 1rem;
  /* Set the padding, background colour and border radius */
}

main section.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main section.menu ul li {
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 2rem;
  background-color: #e6bcbf;
}

main section.menu ul li:nth-child(2n) {
 background-color: #a8dadcff;
 padding: 1rem;
}

/* TESTIMONIAL SECTION STYLES */

/* Almost done! The last section is our testimonial styles */

main section.testimonials {
  padding: 1rem;
  background-color: #f67280;
  border-radius: 1rem;
}



main section.testimonials h2 {
text-align: center;
color: white;
font-weight: 700;
font-size: 3rem;
}


main section.testimonials img {
  width: 100%;
  max-width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}


main section.testimonials blockquote {
 text-align: center;
 font-style: italic;
 font-weight: 400;
 font-size: 2rem;
 padding: 2rem 1rem;
 background-color: #457b9dff;
 color: #ffffff;
 border-bottom-left-radius: 1rem;
 border-bottom-right-radius: 1rem;
}

/*
  Create a css selector that targets the blockquote element
  inside the testimonials section
  and add the following styles to it:

  - Let's make our customer quote look cool
  - Center the text
  - Set the font-weight
  - Set the font size
  - Set the padding
  - Add a background colour #457b9dff
  - Set the text colour
  - Put a border radius on just the bottom of the blockquote

*/

/* AND THAT'S IT! YOU ARE DONE. CONGRATULATIONS. POST YOUR LINK! */


/*
 * DONT MODIFY THE CODE
 * BELOW THIS LINE
 */

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #242121;
  font-size: 1.2rem;
  line-height: 1.6;
}

main {
  margin: 5rem 0rem;
  padding: 1rem;
}
